<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Document
  link(rel="stylesheet", href="css/all.css")
  script(src="js/all.js")
  
body
  h1
    | 世大運成功
  p
    | Loads gulp plugins from package dependencies and attaches them to an object of your choice.
  h3
    | 統一獅戰富邦悍將 邱浩鈞投手犯規
  p
    |中華職棒統一 7-ELEVEn 獅與富邦悍將的賽事，10 日在台南球場進行，7 局上統一中繼投手邱浩鈞（圖）發生投手犯規，造成一、三壘上跑者分別向前推進，富邦悍將得分。    
    
  
